# HOW TO USE:
#
# 1 Add environment variables for local development.
# 2 Rename this file to .env and uncomment it's usage
#   in the serverless.yml.
# 3 Make sure to not commit this file.

STRIPE_SECRET_KEY=sk_test_51GqzJOHpsCAN91LN8WA7PkdSsfCOxMvXq8l48jE3Hg8BP5tq2RX8MZFxyIMCoVZEsO3eFVYuim6QMIIGwcq77Dgy00LWxHTHyy
